<configuration>
	<connectionStrings>
		<add name="DBConnStr" providerName="System.Data.OleDb" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; User ID=Admin; Data Source=C:\Altoro Mutual\website\App_Data\altoro.mdb;"/>
	</connectionStrings>
	<!--
		For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

		The following attributes can be set on the <httpRuntime> tag.
			<system.Web>
				<httpRuntime targetFramework="4.5" />
			</system.Web>
	-->
	<system.web>
		<authentication mode="None"/>
		<compilation debug="true" defaultLanguage="C#" targetFramework="4.5"/>
		<customErrors mode="On" defaultRedirect="~/servererror.aspx">
			<error statusCode="404" redirect="~/notfound.aspx"/>
		</customErrors>
		<httpRuntime enableHeaderChecking="false"/>
		<pages buffer="true" enableViewState="false" enableViewStateMac="false" viewStateEncryptionMode="Never" validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
		<xhtmlConformance mode="Legacy"/>
	</system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<clear/>
				<add value="default.aspx"/>
				<add value="Default.htm"/>
				<add value="Default.asp"/>
				<add value="index.htm"/>
				<add value="index.html"/>
				<add value="iisstart.htm"/>
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>
