name: "HCL AppScan CodeSweep - Publish to ASoC"
on:
  pull_request:
    types: [closed]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Publish issues to ASoC
        uses: HCL-TECH-SOFTWARE/appscan-codesweep-action@v2
        with:
          asoc_key: ${{secrets.ASOC_KEY}}
          asoc_secret: ${{secrets.ASOC_SECRET}}
          publish_on_merge: true
          application_id: ${{secrets.ASOC_APP}}
          scan_base_name: "altoroMutual-dotNet-pullRequest"
    env: 
      GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
